#!/usr/bin/make -f
# -*- makefile -*-

PATH        := /sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/local/bin
bin_cabal   ?= cabal

%:
	dh $@

override_dh_auto_clean:
	$(bin_cabal) sandbox delete
	dh_clean

override_dh_installinit:
	dh_installinit --no-start

override_dh_auto_configure:
	dh_testdir
	cd src/warpdrive; { \
          $(bin_cabal) update; \
          $(bin_cabal) sandbox init; \
          $(bin_cabal) install --only-dependencies --force-reinstalls; \
          $(bin_cabal) configure -O2; \
	}

override_dh_auto_build:
	dh_testdir
	cd src/warpdrive; { \
          $(bin_cabal) build; \
        }
