#!/usr/bin/make -f
# -*- makefile -*-

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_auto_clean:
	rm -f debian/*substvars
	$(MAKE) -C ../../src/collectd clean
	dh_clean

override_dh_install:
	mkdir -p debian/leela-collectd/usr/lib/$(DEB_HOST_MULTIARCH)/collectd
	mkdir -p debian/leela-collectd/usr/lib/collectd
	mkdir -p debian/leela-collectd/usr/bin
	cp -a ../../src/collectd/write_leela.so debian/leela-collectd/usr/lib/$(DEB_HOST_MULTIARCH)/collectd/
	cp -a ../../src/collectd/write_leela.so debian/leela-collectd/usr/lib/collectd/
	cp -a ../../src/collectd/wl_cpu-scale.sh debian/leela-collectd/usr/bin/wl_cpu-scale
	dh_install

override_dh_auto_build:
	$(MAKE) -C ../../src/collectd build
