*.pyc
*.hi
*.swp
*.o
*.class
*.gem
*.log
try_leela.stderr
/tmp/
/tags
/TAGS
/build/
/dist/
/package/dist
/doc/build/
/lib/poly1305aes/dist
/lib/poly1305aes/poly1305aes-20050218
/src/warpdrive/src/warpdrive
/src/warpdrive/src/test-warpdrive
/src/warpdrive/src/Leela/warpdrive
/src/warpdrive/cabal-dev/
/src/warpdrive/dist/
/src/warpdrive/.cabal-sandbox
/src/warpdrive/cabal.sandbox.config
/src/c/try_leela
/src/c/libleela.so*
/src/python/build
/src/c/libleela4.0.0.so
/src/c/src/driver
/package/leela-lib/debian
automation/ansible/leela-*
automation/ansible/hosts
automation/tmp/
