*.pyc
*.hi
*.swp
*.o
*.class
try_leela.stderr
/tmp/
/tags
/TAGS
/build/
/dist/
/doc/build/
/src/warpdrive/src/warpdrive
/src/warpdrive/src/Leela/warpdrive
/src/warpdrive/cabal-dev/
/src/warpdrive/dist/
/src/warpdrive/.cabal-sandbox
/src/warpdrive/cabal.sandbox.config
/src/c/try_leela
/src/c/libleela.so*
/src/python/build
/src/c/libleela4.0.0.so
/src/c/src/driver
/package/leela-lib/debian
