#!/usr/bin/make -f
# -*- makefile -*-

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ -Scmake

override_dh_auto_configure:
	dh_auto_configure -- \
	  "-DLEELA_BUILD_COLLECTD=on" \
	  "-DLEELA_BUILD_COLLECTD=lib/$(DEB_HOST_MULTIARCH)" \
	  "-DLEELA_INSTALL_ARCDIR=lib/$(DEB_HOST_MULTIARCH)"
