Source: leela
Section: misc
Priority: extra
Maintainer: Diego Souza <dsouza@c0d3.xxx>
Build-Depends: debhelper, build-essential, realpath, python (>= 2.6), ghc (>= 7.6), cabal-install (>= 1.16)
Standards-Version: 3.9.1
X-Python-Version: >= 2.6
Homepage: https://github.com/locaweb/leela

Package: leela
Architecture: any
Conflicts: python-twisted, python-wokkel, pyton-thrift, python-zope.interface
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, daemon (>= 0.6.4), python-pyopenssl, python-dateutil, python-argparse
Description: Scalable realtime metrics monitoring system
 Refer to http://leela.rtfd.org
