Source: leela
Section: leela
Priority: optional
Maintainer: Diego Souza <dsouza@c0d3.xxx>
Build-Depends: debhelper (>= 7.0), devscripts, libncursesw5-dev, libffi-dev, libzmq3-dev, zlib1g-dev, python2.6-dev | python2.7-dev
Standards-Version: 3.9.1
Homepage: https://github.com/locaweb/leela

Package: leela-warpdrive
Architecture: any
Depends: ${misc:Depends}, libffi5, libzmq3, zlib1g, libgmp10
Description: Leela - Scalable metrics monitoring engine (server module)

Package: leela-blackbox
Architecture: any
Depends: ${misc:Depends}, libzmq3, java-runtime, daemon, netcat, coreutils, tractorbeam, uuid
Description: Leela - Scalable metrics monitoring engine (storage module)

Package: leela-c
Architecture: any
Depends: ${misc:Depends}, libzmq3

Package: leela-python
Architecture: any
Depends: ${misc:Depends}, leela-c, python2.6 | python2.7
