#!/usr/bin/make -f
# -*- makefile -*-

version      = $(shell src/scripts/read-version)

bin_lein    ?= lein
bin_cabal   ?= cabal
bin_python  ?= python

%:
	dh $@ --with python2

warpdrive-build:
	dh_testdir
	cd src/haskell; { \
          $(bin_cabal) update; \
          $(bin_cabal) sandbox init; \
          $(bin_cabal) install --only-dependencies; \
          $(bin_cabal) configure -O2; \
          $(bin_cabal) build; \
        }

warpdrive-clean:
	rm -f src/haskell/cabal.sandbox.config
	rm -r -f src/haskell/dist src/haskell/.cabal-sandbox

blackbox-clean:
	rm -r -f src/clojure/target

blackbox-build:
	cd src/clojure; env LEIN_ROOT=ok $(bin_lein) uberjar
	cp -a /usr/lib/libjzmq*.so* src/clojure/target
	cp src/clojure/target/blackbox-*-standalone.jar src/clojure/target/blackbox.jar

clib-build:
	$(MAKE) -C src/c build

clib-clean:
	$(MAKE) -C src/c clean

pylib-build:
	cd src/python; $(bin_python) setup.py build

pylib-clean:
	rm -rf src/python/build

clib-install:
	mkdir -p debian/leela-c/usr/lib
	cp -p src/c/libleela.so* debian/leela-c/usr/lib

pylib-install:
	cd src/python; $(bin_python) setup.py install --install-layout=deb --root=../../debian/leela-python

override_dh_auto_clean: warpdrive-clean blackbox-clean clib-clean
	rm -f debian/*substvars
	dh_clean

override_dh_installinit: clib-install pylib-install
	dh_installinit --no-start

override_dh_auto_build: warpdrive-build blackbox-build clib-build pylib-build
