#!/usr/bin/make -f
# -*- makefile -*-

PATH        := $(PATH):/usr/local/bin
bin_cabal   ?= env PKG_CONFIG_PATH=/opt/zmq4/lib/pkgconfig cabal

%:
	dh $@

override_dh_auto_clean:
	$(bin_cabal) sandbox delete
	dh_clean

override_dh_installinit:
	dh_installinit --no-start

override_dh_auto_build:
	dh_testdir
	cd ../../src/warpdrive; { \
          $(bin_cabal) update; \
          $(bin_cabal) sandbox init; \
          $(bin_cabal) configure -O2; \
          $(bin_cabal) install --only-dependencies; \
          $(bin_cabal) build; \
        }

override_dh_usrlocal:
