#!/usr/bin/make -f
# -*- makefile -*-

PATH        := $(PATH):/usr/local/bin
bin_cabal   ?= env PKG_CONFIG_PATH=/opt/zmq4/lib/pkgconfig cabal

%:
	dh $@

override_dh_auto_clean:
	rm -f ../../src/warpdrive/cabal.sandbox.config
	rm -r -f ../../src/warpdrive/dist ../../src/warpdrive/.cabal-sandbox
	rm -f debian/*substvars
	dh_clean

override_dh_installinit:
	dh_installinit --no-start

override_dh_auto_build:
	dh_testdir
	cd ../../src/warpdrive; { \
          $(bin_cabal) update; \
	  $(bin_cabal) install alex; \
	  $(bin_cabal) install happy; \
          $(bin_cabal) sandbox init; \
          $(bin_cabal) install --only-dependencies --force-reinstalls; \
          $(bin_cabal) configure -O2; \
          $(bin_cabal) build; \
        }

override_dh_auto_install:
	dh_testdir
	mkdir -p debian/leela-warpgrep/usr/local/lib
	cp -a /opt/zmq4/lib/libzmq* debian/leela-warpgrep/usr/local/lib
	dh_install

override_dh_usrlocal:
