#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ -Scmake

override_dh_install:
	mkdir -p debian/leela-collectd/usr/bin
	install -m 755 src/collectd/wl_cpu-scale.sh debian/leela-collectd/usr/bin/wl_cpu-scale
	dh_install

override_dh_auto_configure:
	dh_auto_configure -- \
	  "-DLEELA_BUILD_COLLECTD=on"
