{
    "service": {
        "name": "leela",
        "id": "blackbox",
        "tags": ["blackbox"],
        "port": 50023,
        "check": {
            "script": "/usr/bin/leela-blackbox-watchdog.sh",
            "interval": "5s"
        }
    }
}
