{
    "service": {
        "name": "leela",
        "id": "redis",
        "tags": ["redis"],
        "port": 6379,
        "check": {
            "script": "/usr/bin/leela-redis-watchdog.sh",
            "interval": "5s"
        }
    }
}
