#!/usr/bin/make -f
# -*- makefile -*-

version      = $(shell ../../src/scripts/read-version.sh)
bin_lein    ?= lein

%:
	dh $@

override_dh_auto_clean:
	cd ../../src/clojure; env LEIN_ROOT=ok $(bin_lein) clean
	rm -f debian/*substvars
	dh_clean

override_dh_installinit:
	dh_installinit --no-start

override_dh_auto_build:
	dh_testdir
	cd ../../src/clojure; env LEIN_ROOT=ok $(bin_lein) uberjar
	cp -a /usr/lib/libjzmq*.so* ../../src/clojure/target
	cp ../../src/clojure/target/blackbox-$(version)-standalone.jar ../../src/clojure/target/blackbox.jar
